<!DOCTYPE html>
<html>
<head>
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registered Successfull | Bridge</title>

	<!--Styling inserted-->
    <link rel="stylesheet" href="../static/c.css"/> 

	<!--Icon inserted-->
    <link rel="shortcut icon" href="../static/user.png" >

	<!--Google font inserted-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Noto+Serif&display=swap" rel="stylesheet">
	</head>

	<body>
	<main>
		<!--Glassmorphism -->
        <section class="glass">
			<div>
                <p><span id="name">Bridge</span></p>
            </div>
			
			<!--Output of registeration form-->
			<h1 style="color:greenyellow;">Saved Successfull</h1>
			<h2>Hello, {{ name }}</h2><br>
			<h3>Following Employee has been added to the database.</h3><br>
				<form action="http://3.110.182.100:80/" autocomplete="on" method = "GET">
					<br /> <br >
					<button type="submit" class="button01">Back</button><br><br>

				</form>
		
		</section>
		<div class="circle1"></div>
        <div class="circle2"></div>
	</body>
	</main>


</head>
<body>

</body>
</html>
