<!DOCTYPE html>
<html>
<head>
	<title>Employee Information | Bridge</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Styling inserted-->
    <link rel="stylesheet" href="../static/c.css"/> 

	<!--Icon inserted-->
    <link rel="shortcut icon" href="../static/user.png" >

	<!--Google font inserted-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Noto+Serif&display=swap" rel="stylesheet">
</head>
	<body>
		<main>
			<!--Glassmorphism -->
			<section class="glass">
				<div>
					<p><span id="name">Bridge</span></p>
				</div>
			<h1 style="color: rgb(4, 101, 199); ">Employee Information</h1>

			<!--Form to display Data-->
			<form>
				<div>
					<span class="displayDataP"><img src="{{ image_url }}" width="100px" height="100px"></span></label> <br><br><br />
				
			  		<label class="displayItem">ID : <span class="displayDataID">{{ id }}</span></label> <br><br><br />

			  		<label class="displayItem">First Name : <span class="displayData">{{ fname }}</span></label> <br><br><br />

			  		<label class="displayItem">Last Name : <span class="displayData">{{ lname }}</span></label>  <br><br><br />

			  		<label class="displayItem">Primary Interest : <span class="displayDataPI">{{ interest }}</span> </label><br><br><br />

			  		<label class="displayItem">Email : <span class="displayDataE">{{ email }}</span></label> <br><br><br />
					
			  		<button type="submit" class="button01" formaction="http://3.110.182.100:80/getemp">Reset</button><br><br><br />
					  <br />
			  	</div>

			</form>
			</section>
			<!--Background circles-->
			<div class="circle1"></div>
        	<div class="circle2"></div>
			</main>
	</body>

</html>
